<header class="header">
    <img src="logo1.png" alt="Logo" class="logo">
    <nav class="navbar">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/catalog">Catalog</a>
      @if(isLoggedIn) {
        <a routerLink="/create">Create</a>
        <a routerLink="/profile">Profile</a>
        <a (click)="logout()">Logout</a>

      } @else {
        <a routerLink="/login">Log in</a>
        <a routerLink="/register">Register</a>
      }
    </nav>
  </header>
  