<main class="main-content">
    <!-- User Info Card -->
    <div class="user-info-card">
      <div class="profile-header">
        <img
          class="profile-image"
          src="https://via.placeholder.com/100"
          alt="User Avatar"
        />
        <h2>{{profile?.username}}</h2>
      </div>
      <div class="profile-details">
        <p><strong>Email:</strong>{{profile?.email}}</p>
      </div>
    </div>
  
    <!-- Profile Header and Additional Text in Free Space -->
    <div class="profile-info-container">
      <h2>Profile</h2>
      <p>This is some additional information about your profile!</p>
    </div>
  
    <!-- Trails Section -->
    <div class="trails-section">
      <h2>Your Created Trails</h2>
      @if(allTrails.length > 0) {
      @for (trail of allTrails; track $index) {
      <div class="trails-grid" [routerLink]="['/details', trail._id]">
        <div class="trail-card">
          <img src="{{trail.img}}" alt="Trail Image 1" />
          <div class="trail-info">
            <h3>{{trail.name}}</h3>
            <p><strong>Type:</strong>{{trail.type}}</p>
            <p><strong>Difficulty:</strong>{{trail.difficulty}}</p>
            <p><strong>Mountain:</strong>{{trail.mountain}}</p>
          </div>
        </div>
      </div>  
    }
  }@else {
    <p class="no-trails">No posted trails yet!</p>
  }
    </div>
  </main>
  