<main>
  <!-- Hero Section -->
  <section class="hero">
    <h1>{{trail.name}}</h1>
  </section>

  <!-- Information Section -->
  <section class="info-section">
    <div class="info-container">
      <!-- Text Content -->
      <div class="info-content">
        <h2>Trail type: {{trail.type}}</h2>
        <h4>Mountain: {{trail.mountain}}</h4>
        <p>
          {{trail.description}}
        </p>
      </div>
      <!-- Mountain Guide Box -->
      <div class="guide-card">
        <img [src]="guide?.img" alt="Guide">
        <h3>Mountain Guide</h3>
        <p><strong>Name:</strong>{{guide?.name}}</p>
        <p><strong>Nation:</strong>{{guide?.nation}}</p>
        <p><strong>Experience:</strong>{{guide?.experience}} years</p>
      </div>
    </div>
    @if(isOwner) {
    <!-- Edit and Delete Buttons -->
    <div class="button-container">
      <button class="edit-btn" routerLink="/edit/{{trail._id}}">Edit</button>
      <button class="delete-btn" (click)="deleteHandler(trail._id)">Delete</button>
    </div>
  }
</section>
  <!-- More Info Section -->
  <section class="more-info">
    <h3>Details</h3>
    <div class="info-icons">
      <div class="info-item">
        <img src="duration.png" alt="Icon">
        <p><strong>Duration:</strong> {{trail.duration}} Hours</p>
      </div>
      <div class="info-item">
        <img src="hikingLogo.jpeg" alt="Icon">
        <p><strong>Type:</strong> {{trail.type}}</p>
      </div>
      <div class="info-item">
        <img src="backpack.jpeg" alt="Icon">
        <p><strong>Difficulty:</strong> {{trail.difficulty}}</p>
      </div>
      <div class="info-item">
        <img src="mileage.jpeg" alt="Icon">
        <p><strong>Mileage:</strong> {{trail.mileage}} km</p>
      </div>
    </div>
  </section>

  <!-- Gallery Section -->
  <section class="gallery">
    <h3>Gallery</h3>
    <p>Here are some photos of the trail:</p>
    <div class="gallery-grid">
      <img src="{{trail.img}}" alt="Gallery Image">
    </div>
    <div class="add-btn">
      <button>Add</button>
    </div>
  </section>
</main>
