<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-overlay">
      <h1>All Treks</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unde veniam aperiam rerum quis atque, illum.</p>
    </div>
  </section>

  <!-- Cards Section -->
  <section class="cards-container">
    <!-- Card 1 -->
    <div class="card">
      <div class="price-badge">$820</div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Malyovitsa-winter-ifb.JPG" alt="Everest Base Camp">
      <div class="card-content">
          <div class="meta">
            <div>12 Days</div>
            <div>10 Max Group Size</div>
            <div>High Difficulty</div>
          </div>
        <h3>Trekking Expedition</h3>
        <p>Everest Base Camp</p>
        <p>Ama Dablam, Nepal</p>
      </div>
    </div>

    <div class="card">
      <div class="price-badge">$820</div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Malyovitsa-winter-ifb.JPG" alt="Everest Base Camp">
      <div class="card-content">
          <div class="meta">
            <div>12 Days</div>
            <div>10 Max Group Size</div>
            <div>High Difficulty</div>
          </div>
        <h3>Trekking Expedition</h3>
        <p>Everest Base Camp</p>
        <p>Ama Dablam, Nepal</p>
      </div>
    </div>

    <div class="card">
      <div class="price-badge">$820</div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Malyovitsa-winter-ifb.JPG" alt="Everest Base Camp">
      <div class="card-content">
          <div class="meta">
            <div>12 Days</div>
            <div>10 Max Group Size</div>
            <div>High Difficulty</div>
          </div>
        <h3>Trekking Expedition</h3>
        <p>Everest Base Camp</p>
        <p>Ama Dablam, Nepal</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <div class="price-badge">$320</div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Malyovitsa-winter-ifb.JPG" alt="Monte Bianco">
      <div class="card-content">
          <div class="meta">
            <div>3 Days</div>
            <div>10 Max Group Size</div>
            <div>High Difficulty</div>
          </div>
        <h3>Hiking Expedition</h3>
        <p>Monte Bianco</p>
        <p>Courmayeur, France</p>
      </div>
    </div>
  </section>
</main>
