<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-overlay">
      <h1>All Treks</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unde veniam aperiam rerum quis atque, illum.</p>
    </div>
  </section>

  <!-- Cards Section -->
  <section class="cards-container">
    @if(isLoading){
    @if(trails && trails.length > 0) {

      @for (trail of trails; track $index) {
        <div class="card" [routerLink]="['/details', trail._id]">
          <div class="price-badge">${{trail.price}}</div>
          <img src="{{trail.img}}" alt="{{trail.name}}">
          <div class="card-content">
            <div class="meta">
              <div>12 Days</div>
              <div>10 Max Group Size</div>
              <div>{{trail.difficulty}} Difficulty</div>
            </div>
            <h3> Expedition</h3>
            <p>{{trail.name}}</p>
            <p>Ama Dablam, Nepal</p>
          </div>
        </div>
      }
    } @else {
      <div class="no-trails">
        <p>No trails available for now.</p>
        <button class="create-btn" onclick="createTrail()">Create a Trail</button>
      </div>
    }
  } @else {
    <app-loader />
  }
    
  </section>
</main>
