<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-overlay">
      <h1>All Treks</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unde veniam aperiam rerum quis atque, illum.</p>
    </div>
  </section>

  <!-- Cards Section -->
  <section class="cards-container">
    @if(isLoading){
    @if(trails.length === 0) {
      <div class="no-trails">
        <p>No trails available for now.</p>
        <button class="create-btn" routerLink="/create">Create a Trail</button>
      </div>
      
    } @else {
      @for (trail of trails; track $index) {
        <div class="card" [routerLink]="['/details', trail._id]">
          <div class="price-badge">${{trail.price}}</div>
          <img src="{{trail.img}}" alt="{{trail.name}}">
          <div class="card-content">
            <div class="meta">
              <div>Duration: {{trail.duration}}h</div>
              <div>Type: {{trail.type}}</div>
              <div>Difficulty: {{trail.difficulty}}</div>
            </div>
            <h3> Trail </h3>
            <p>{{trail.name}}</p>
            <p>{{trail.mountain}}</p>
          </div>
        </div>
      }
    }
  } @else {
    <app-loader />
  }
    
  </section>
</main>
